/*Archivo css de los estilos de la pagina web
Equipo de la sala 4
REYES PEÑA MOISES ALBERTO
RODRIGUEZ MONTIEL LUIS JESUS
JIMENEZ  JOSE ROBERTO
10 de Julio del 2021
*/


body /*Intrucción para aplicar fondo en el cuerpo de la pagina*/
{
	background: url(FondoP.jpg);
	background-repeat:no-repeat; /*Instrucción para que el fondo no se repita multiples veces*/
	
}
h1{
	width: 10px;
	color: white;
	font-size:50px;
	margin: 160px 100px ; 
}
h2{
	color: slategray;
}

div{
	witdth: auto;/* ancho de la caja*/
	height:  200px;
	margin: auto; /* margin nos permite editar el margen de separación alrededor */
}
/*Definición de las clases de los iconos de las redes sociales*/
.social-bar{
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}


.icon{
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}


.icon-facebook{
	background: #2E406E;
}
.icon-twitter{
	background: #339DC5;
}

.icon-youtube{
	background: #E83028;
}

.icon-instagram{
	/*background: #3F60A5;*/
	background: #F3215C;
	
}

.icon:first-child {
	border-radius: 1rem 0 0 0; ;
}

.icon:last-child{
	border-radius: 0 0 0 1rem;
}
.icon:hover{
	padding-right: 3rem;
	border-radius: 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}